@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1+Code:wght@500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* import fonts from fonts.css file */ 
@import url(./css);


/* css variables */ 
@import url(./_variables.css);

/* import global styling */ 
@import url(./_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(./home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
    font-family: 'Righteous', cursive;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    color: #000;
    font-family: 'M PLUS 1 Code', sans-serif;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title img{
    display: block;
    cursor: pointer;
}

.col-lg-6 .col-md-12 .about-title:after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.col-lg-6 .col-md-12 .about-title:after{
    width: 100%;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
    margin-left: 9.5%;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(./footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 

.hmm{
    color: #fff;
    cursor: default;
}

/* hehe skills */

.skills__container{
    row-gap: 2rem;
    text-align: left;
    margin-left: 5%;
    margin-right: 50%;
  }
  .skills__lollipe{
      margin-left: 3.4%;
      margin-bottom: 4.5%;
      cursor: pointer;
  }
  .skills__boy{
      margin-left: 50%;
      margin-bottom: -34%;
  }
  .skills__subtitle{
    margin-bottom: 1rem;
  }
  .skills__text{
    margin-bottom: 2rem;
    font: normal 700 30px/ 30px var(--roboto);
    color: rgb(129, 129, 129);
    font-size: 16px;
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600px;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  .skills__icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: #4070f4;
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4070f4;
    height: .25rem;
    border-radius: .5rem;
    z-index: 100px;
  }
  .skills__html{
    width: 95%;
  }
  .skills__css{
    width: 85%;
  }
  .skills__js{
    width: 65%;
  }
  .skills__ux{
    width: 85%;
  }
  .skills__img{
    border-radius: .5rem;
  }

.contact{
      color: #fff;
      cursor: default
  }

.hehecontactme{
    color: #fff;
    size:22px;
    padding: 2rem;
    white-space: 30px;
    cursor: default;
}
/* About Me */ 

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

/* End About Me */ 


html {
    scroll-behavior: smooth;
  }
  
  .scroll-top {
    height: 60px;
    width: 60px;
    background-color: hidden;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    /* hover effect default */
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
    /* for centering the icon */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-top svg {
    width: 50%;
    color: #000;
    pointer-events: none;
  }
  
  .scroll-top:hover {
    transform: scale(1);
  }
  